<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ism</th>
      <th scope="col">familya</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody id="tbody">
  </tbody>
</table>
<script>
try{
 function getTokenExperitonTime(token){
    const decodedToken = JSON.parse(atob(token.split(".")[1]))

    if(decodedToken.exp){
        return new Date(decodedToken.exp*1000)
    }
    return null
 }

 async function refreshTokenFunc(){
    try{
        const response = await fetch("http://localhost:3030/api/author/refresh", {
            method:"POST",
            headers:{
                "Content-Type": "application/json"
            }
        })
        const data = await response.json()
        if(data.error && data.error == "jwt expired"){
            console.log("refresh tokeni vaqti tugadi")
            return window.location.replace("/login")
        } 
        localStorage.setItem("accesToken", data.accessToken)
        
        return data.accessToken

    }catch{
        console.log("RefreshToken", error)
        return window.location.replace("/login")
    }

 }


    const accessToken = localStorage.getItem("accessToken") //access token 
    console.log(accessToken)
    const accessTokenExpTime = getTokenExperitonTime(accessToken)

    if(accessTokenExpTime){
        const currentTime = new Date()
        if(currentTime< accessTokenExpTime){
            console.log("access tokjen faol")
        }else{
            console.log("Access token vaqti chiqib ketdi")
            accessToken =  refreshTokenFunc()
              console.log("new acces token ", accessToken)
        }
    }

    fetch("http://localhost:3030/api/author/all", {
        method:"GET",
        headers:{
            Authorization: `Bearer ${accessToken}`,
            "Content-Type": "application/json"
        }
    })
    .then((res) => {
        if(!res.ok){
            console.log("oka malumot kelmadi hafa bo'lmesiz ")
            return 0
        }
    return res.json()
    })
    .then((data) => {
        const tbody = document.getElementById("tbody")
        let i =1
        for(let author of data.authors){
            console.log(author)
            tbody.innerHTML+=`
                <tr>
                    <th scope="row">${i}</th>
                    <td>${author.author_first_name}</td>
                    <td>${author.author_last_name}</td>
                    <td>${author.author_email}</td>
                </tr>
            `
            i++

        }
    })



}catch(error){
    console.log(error.message)
}

</script>
{{!-- 
<h3>Mualliflarf </h3>
<ol id="author_list"></ol>

<script src="../js/script.js"></script>
<script>
    getAuthor()
</script> --}}